{% extends "index.html" %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-start">
            {% for obj in objects %}
            <div class="col">
                <div class="card">
                    <img src="{{ obj.picture_path }}" class="card-img-top" alt="{{ obj.name }}">
                    <div class="card-body">
                        <h5 class="card-title"> {{ obj.name }}</h5>
                        <p class="card-text">{{ obj.description|truncate(100) }}</p>
                        <a href="obj/{{obj.id}}" class="btn btn-primary more_info">Узнать
                            подробнее</a>
                        {% if current_user.is_admin %}
                        <a href="obj/delete/{{obj.id}}" class="btn btn-danger delete">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <img src="static/img/kremlin.png" class="image_main_page">
</section>


{% endblock %}
